*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: coral; */
}
#nav{
    height: 80px;
    width: 100%;
    background-color:#dadada;
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     position: relative;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#nav h1{
    font-size:2.8vw;
    text-transform: uppercase;
   letter-spacing: -1px;
   width: 20%;
   
  
 
}
#nav h1 span{
    color: #3C76D1;
   
}
#nav #link{
   
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    
}
#nav #link a{
    padding: 0 15px;
    margin: 0 8px;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Tahoma, sans-serif;
}
#nav button{
    
    background-color:#3C76D1;
    padding: 13px 15px;
    font-size: 14px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    text-transform:uppercase;
    
}
#nav button:hover{
    background-color:#1b65dbe8;
    transition:  all ease-in 0.2s;
   
}
@media(max-width:870px) {
    #nav button{
    
       
        padding: 10px 8px;
        font-size: 6px;
        
        
    } 
    #nav h1{
        font-size:1.5vw;
        text-transform: uppercase;
       letter-spacing: -1px;
       
     
    }

    #nav #link a{
        padding: 0 10px;
        margin: 0 8px;
        font-size: 1.5vw;
        
    }



}
@media(max-width:600px) {
    #nav button{
    
        padding: 10px 8px;
        font-size: 6px;
       
    } 
    #nav h1{
        font-size:3.5vw;
        text-transform: uppercase;
       letter-spacing: -1px;
       
       
     
    }

    #nav #link a{
        padding: 0 4px;
        margin: 0 3px;
        font-size: 2vw;
        
    }

    #nav button{
    
        padding: 12px 3px;
        font-size: 10px;
       
    } 
}

@media(max-width:525px){
    #nav #link a{
       display: none;
        
    }
    #nav{
        padding: 25px;
    }
    #nav h1{
     font-size: 3.5vw;
    } 
    #nav button{
    
        padding: 15px 10px;
        font-size: 12px;
       
    } 
}
